@page
@model deliveryCompany.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center" style="height: 100vh;">
    <div class="col-auto" style="width:50vw">

        <h2>@ViewData["Title"]</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                <label asp-for="User.Email">Email</label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="User.Pass">Password</label>
                <input asp-for="User.Pass" type="password" class="form-control" />
                <span asp-validation-for="User.Pass" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Log in</button>
        </form>
    </div>
</div>
