@page
@model deliveryCompany.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <p>You have been logged out.</p>
    <a asp-page="/Login">Login again</a>
</body>
</html>
